receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  # Export Traces to Tempo (gRPC)
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  # Export Logs to Loki (HTTP)
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    
  # Export Metrics to Prometheus
  prometheus:
    endpoint: "0.0.0.0:8889"
    namespace: "bw_metrics"
    send_timestamps: true
    metric_expiration: 180m


processors:
  batch:
  resource:
    attributes:
      - key: service.name
        action: insert
        value: bwce-logs-via-otel-collector

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    logs:
      receivers: [otlp]
      processors: [batch, resource]
      exporters: [loki]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]